In [1]:
import numpy as np
import pandas as pd

In [2]:
csv_format = {}
csv_format['ssnamenr'] = ['dog', 'cat', 'cat', 'lizard']
csv_format['epoch'] = [2454654, 256841, 3546842, 5345453]
csv_format['serialnr'] = ['6545435', '3546461', '35435416', '54685451']
csv_format['ra'] = [45646, 5458, 546, 45654]
csv_format['dec'] = [565, 36546, 4556, 3545]

In [3]:
df = pd.DataFrame(csv_format, index=csv_format['ssnamenr'])
df

       ssnamenr    epoch  serialnr     ra    dec
dog         dog  2454654   6545435  45646    565
cat         cat   256841   3546461   5458  36546
cat         cat  3546842  35435416    546   4556
lizard   lizard  5345453  54685451  45654   3545

In [4]:
df = df.sort_index()

In [5]:
%pwd

'/home/sem635/lsst/Sam'

In [6]:
df.to_csv('LSST_O_YYYYMMDD_yyyymmdd.csv', index=False)

In [7]:
import make_file

In [8]:
make_file.make_csv(csv_format, 'O', '20251023', '20261024')